.heroPortrait {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(86, 120, 229, .9);
    display: inline-block;
    vertical-align: middle;
    position: relative;
    line-height: 1.2rem;
    user-select: none;
    width: 92px;
    height: 93px;   
    overflow: hidden;
    background-size: contain;
}

.noBorder {
    border: 0;
}

.label {
    position: absolute;
    bottom: 0;
    left: 3px;
    text-shadow: 1px 1px #000;
}


.lg {
    border-width: 3px;
}

.md {
    border-width: 2px;
    font-size: .9rem;
    width: 64px;
    height: 64px;
}

.sm {
    font-size: 12px;
    font-weight: normal;
    width: 40px;
    height: 40px;
}

.xs {
    width: 22px;
    height: 22px;
}