.abathur { background-image: url('/images/heroes.png'); background-position: 0 0; width: 92px; height: 93px; }
.alarak { background-image: url('/images/heroes.png'); background-position: 0 -93px; width: 92px; height: 93px; }
.alexstrasza { background-image: url('/images/heroes.png'); background-position: 0 -186px; width: 92px; height: 93px; }
.ana { background-image: url('/images/heroes.png'); background-position: 0 -279px; width: 92px; height: 93px; }
.anduin { background-image: url('/images/heroes.png'); background-position: 0 -372px; width: 92px; height: 93px; }
.anubarak { background-image: url('/images/heroes.png'); background-position: 0 -465px; width: 92px; height: 93px; }
.artanis { background-image: url('/images/heroes.png'); background-position: 0 -558px; width: 92px; height: 93px; }
.arthas { background-image: url('/images/heroes.png'); background-position: 0 -651px; width: 92px; height: 93px; }
.auriel { background-image: url('/images/heroes.png'); background-position: 0 -744px; width: 92px; height: 93px; }
.azmodan { background-image: url('/images/heroes.png'); background-position: 0 -837px; width: 92px; height: 93px; }
.blaze { background-image: url('/images/heroes.png'); background-position: 0 -930px; width: 92px; height: 93px; }
.brightwing { background-image: url('/images/heroes.png'); background-position: 0 -1023px; width: 92px; height: 93px; }
.cassia { background-image: url('/images/heroes.png'); background-position: 0 -1116px; width: 92px; height: 93px; }
.chen { background-image: url('/images/heroes.png'); background-position: 0 -1209px; width: 92px; height: 93px; }
.chogall { background-image: url('/images/heroes.png'); background-position: 0 -1302px; width: 92px; height: 93px; }
.chromie { background-image: url('/images/heroes.png'); background-position: 0 -1395px; width: 92px; height: 93px; }
.deathwing { background-image: url('/images/heroes.png'); background-position: 0 -1488px; width: 92px; height: 93px; }
.deckard { background-image: url('/images/heroes.png'); background-position: 0 -1581px; width: 92px; height: 93px; }
.dehaka { background-image: url('/images/heroes.png'); background-position: 0 -1674px; width: 92px; height: 93px; }
.diablo { background-image: url('/images/heroes.png'); background-position: 0 -1767px; width: 92px; height: 93px; }
.dva { background-image: url('/images/heroes.png'); background-position: 0 -1860px; width: 92px; height: 93px; }
.etc { background-image: url('/images/heroes.png'); background-position: 0 -1953px; width: 92px; height: 93px; }
.falstad { background-image: url('/images/heroes.png'); background-position: 0 -2046px; width: 92px; height: 93px; }
.fenix { background-image: url('/images/heroes.png'); background-position: 0 -2139px; width: 92px; height: 93px; }
.gall { background-image: url('/images/heroes.png'); background-position: 0 -2232px; width: 92px; height: 93px; }
.garrosh { background-image: url('/images/heroes.png'); background-position: 0 -2325px; width: 92px; height: 93px; }
.gazlowe { background-image: url('/images/heroes.png'); background-position: 0 -2418px; width: 92px; height: 93px; }
.genji { background-image: url('/images/heroes.png'); background-position: 0 -2511px; width: 92px; height: 93px; }
.greymane { background-image: url('/images/heroes.png'); background-position: 0 -2604px; width: 92px; height: 93px; }
.guldan { background-image: url('/images/heroes.png'); background-position: 0 -2697px; width: 92px; height: 93px; }
.hanzo { background-image: url('/images/heroes.png'); background-position: 0 -2790px; width: 92px; height: 93px; }
.illidan { background-image: url('/images/heroes.png'); background-position: 0 -2883px; width: 92px; height: 93px; }
.imperius { background-image: url('/images/heroes.png'); background-position: 0 -2976px; width: 92px; height: 93px; }
.jaina { background-image: url('/images/heroes.png'); background-position: 0 -3069px; width: 92px; height: 93px; }
.johanna { background-image: url('/images/heroes.png'); background-position: 0 -3162px; width: 92px; height: 93px; }
.junkrat { background-image: url('/images/heroes.png'); background-position: 0 -3255px; width: 92px; height: 93px; }
.kaelthas { background-image: url('/images/heroes.png'); background-position: 0 -3348px; width: 92px; height: 93px; }
.kelthuzad { background-image: url('/images/heroes.png'); background-position: 0 -3441px; width: 92px; height: 93px; }
.kerrigan { background-image: url('/images/heroes.png'); background-position: 0 -3534px; width: 92px; height: 93px; }
.kharazim { background-image: url('/images/heroes.png'); background-position: 0 -3627px; width: 92px; height: 93px; }
.leoric { background-image: url('/images/heroes.png'); background-position: 0 -3720px; width: 92px; height: 93px; }
.lili { background-image: url('/images/heroes.png'); background-position: 0 -3813px; width: 92px; height: 93px; }
.liming { background-image: url('/images/heroes.png'); background-position: 0 -3906px; width: 92px; height: 93px; }
.lostvikings { background-image: url('/images/heroes.png'); background-position: 0 -3999px; width: 92px; height: 93px; }
.ltmorales { background-image: url('/images/heroes.png'); background-position: 0 -4092px; width: 92px; height: 93px; }
.lucio { background-image: url('/images/heroes.png'); background-position: 0 -4185px; width: 92px; height: 93px; }
.lunara { background-image: url('/images/heroes.png'); background-position: 0 -4278px; width: 92px; height: 93px; }
.maiev { background-image: url('/images/heroes.png'); background-position: 0 -4371px; width: 92px; height: 93px; }
.malfurion { background-image: url('/images/heroes.png'); background-position: 0 -4464px; width: 92px; height: 93px; }
.malganis { background-image: url('/images/heroes.png'); background-position: 0 -4557px; width: 92px; height: 93px; }
.malthael { background-image: url('/images/heroes.png'); background-position: 0 -4650px; width: 92px; height: 93px; }
.medivh { background-image: url('/images/heroes.png'); background-position: 0 -4743px; width: 92px; height: 93px; }
.mephisto { background-image: url('/images/heroes.png'); background-position: 0 -4836px; width: 92px; height: 93px; }
.muradin { background-image: url('/images/heroes.png'); background-position: 0 -4929px; width: 92px; height: 93px; }
.murky { background-image: url('/images/heroes.png'); background-position: 0 -5022px; width: 92px; height: 93px; }
.nazeebo { background-image: url('/images/heroes.png'); background-position: 0 -5115px; width: 92px; height: 93px; }
.nova { background-image: url('/images/heroes.png'); background-position: 0 -5208px; width: 92px; height: 93px; }
.orphea { background-image: url('/images/heroes.png'); background-position: 0 -5301px; width: 92px; height: 93px; }
.probius { background-image: url('/images/heroes.png'); background-position: 0 -5394px; width: 92px; height: 93px; }
.qhira { background-image: url('/images/heroes.png'); background-position: 0 -5487px; width: 92px; height: 93px; }
.ragnaros { background-image: url('/images/heroes.png'); background-position: 0 -5580px; width: 92px; height: 93px; }
.raynor { background-image: url('/images/heroes.png'); background-position: 0 -5673px; width: 92px; height: 93px; }
.rehgar { background-image: url('/images/heroes.png'); background-position: 0 -5766px; width: 92px; height: 93px; }
.rexxar { background-image: url('/images/heroes.png'); background-position: 0 -5859px; width: 92px; height: 93px; }
.samuro { background-image: url('/images/heroes.png'); background-position: 0 -5952px; width: 92px; height: 93px; }
.sgthammer { background-image: url('/images/heroes.png'); background-position: 0 -6045px; width: 92px; height: 93px; }
.sonya { background-image: url('/images/heroes.png'); background-position: 0 -6138px; width: 92px; height: 93px; }
.stitches { background-image: url('/images/heroes.png'); background-position: 0 -6231px; width: 92px; height: 93px; }
.stukov { background-image: url('/images/heroes.png'); background-position: 0 -6324px; width: 92px; height: 93px; }
.sylvanas { background-image: url('/images/heroes.png'); background-position: 0 -6417px; width: 92px; height: 93px; }
.tassadar { background-image: url('/images/heroes.png'); background-position: 0 -6510px; width: 92px; height: 93px; }
.thebutcher { background-image: url('/images/heroes.png'); background-position: 0 -6603px; width: 92px; height: 93px; }
.thrall { background-image: url('/images/heroes.png'); background-position: 0 -6696px; width: 92px; height: 93px; }
.tracer { background-image: url('/images/heroes.png'); background-position: 0 -6789px; width: 92px; height: 93px; }
.tychus { background-image: url('/images/heroes.png'); background-position: 0 -6882px; width: 92px; height: 93px; }
.tyrael { background-image: url('/images/heroes.png'); background-position: 0 -6975px; width: 92px; height: 93px; }
.tyrande { background-image: url('/images/heroes.png'); background-position: 0 -7068px; width: 92px; height: 93px; }
.uther { background-image: url('/images/heroes.png'); background-position: 0 -7161px; width: 92px; height: 93px; }
.valeera { background-image: url('/images/heroes.png'); background-position: 0 -7254px; width: 92px; height: 93px; }
.valla { background-image: url('/images/heroes.png'); background-position: 0 -7347px; width: 92px; height: 93px; }
.varian { background-image: url('/images/heroes.png'); background-position: 0 -7440px; width: 92px; height: 93px; }
.whitemane { background-image: url('/images/heroes.png'); background-position: 0 -7533px; width: 92px; height: 93px; }
.xul { background-image: url('/images/heroes.png'); background-position: 0 -7626px; width: 92px; height: 93px; }
.yrel { background-image: url('/images/heroes.png'); background-position: 0 -7719px; width: 92px; height: 93px; }
.zagara { background-image: url('/images/heroes.png'); background-position: 0 -7812px; width: 92px; height: 93px; }
.zarya { background-image: url('/images/heroes.png'); background-position: 0 -7905px; width: 92px; height: 93px; }
.zeratul { background-image: url('/images/heroes.png'); background-position: 0 -7998px; width: 92px; height: 93px; }
.zuljin { background-image: url('/images/heroes.png'); background-position: 0 -8091px; width: 92px; height: 93px; }
